@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/dot.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chats.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2f363e;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #eae9ef;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
.smartphone {
  width: 510px;
  height: 1010px;
  margin-top: 100px;
  border: var(--main-border);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f363e;
  box-shadow: 0px 10px 20px 4px rgba(0, 0, 0.3, 0.2);
}
.dsp {
  width: 480px;
  height: 980px;
  border: var(--main-border);
  background-color: white;
  border-radius: 40px;
  position: relative;
}

/*width : 480px;
height : 920px;*/
