#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 20px 0px;
  margin-bottom: 15px;
  margin-top: -10px;
}
#friends-display-link i {
  color: #d5d5d5;
}

.friends-screen__channel {
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 25px;
}
.friends-screen__channel-header {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
